<div class="sidebar">
  <div class="logo">
    <h2>MyPerpus</h2>
  </div>

  <div class="menu">
    <div class="menu-item {{#if (eq active 'dashboard')}}active{{/if}}">
      <a href="/">Dashboard</a>
    </div>

    <div class="menu-item {{#if (eq active 'authors')}}active{{/if}}">
      <a href="/authors">Authors</a>
    </div>

    <div class="menu-item logout">
      <a href="/logout">Logout</a>
    </div>
  </div>
</div>
