<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  {{> sidebar}}

  <div class="main-content">
    {{{body}}}
  </div>

</body>
</html>
