body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background: #f1f5f9;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  background: #1e293b;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 5vh
}

.menu-item {
  margin-bottom: 10px;
}

.menu-item a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  border-radius: 6px;
}

.menu-item a:hover {
  background: #334155;
}

.menu-item.active a {
  background: #2563eb;
}

.menu-item.logout {
  margin-top: auto;
}

.menu-item.logout a {
  background: #dc2626;
}

.menu-item.logout a:hover {
  background: #b91c1c;
}

.main-content {
  flex: 1;
  padding: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* AUTH LAYOUT */

.auth-body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

/* AUTH CARD */

.auth-card {
  background: white;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.auth-card h2 {
  margin-bottom: 25px;
  text-align: center;
  color: #1e293b;
}

/* FORM */

.auth-form-group {
  margin-bottom: 18px;
}

.auth-form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #475569;
}

.auth-form-group input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  outline: none;
  transition: 0.2s;
  box-sizing: border-box;
}


.auth-form-group input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
}

.auth-btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.auth-btn:hover {
  background: #1d4ed8;
}

.auth-error {
  background: #fee2e2;
  color: #b91c1c;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 14px;
}

.auth-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.auth-link a {
  color: #2563eb;
  text-decoration: none;
}

.auth-link a:hover {
  text-decoration: underline;
}
