<h1>Edit Project</h1>

<form method="POST" action="/projects/{{project.id}}/edit">
  <input
    type="text"
    name="name"
    value="{{project.name}}"
    required
  />
  <button type="submit">Update</button>
</form>

<a href="/projects">Back</a>
